
PROJECT
hidden_*
.DS_Store

.git
.hg
.svn
.venv
index.md

tmp
webpack-stats*.json
.webassets-cache
_build
_search
_cache
doctrees

*~
*.voc
*.bin
*.swp
*.log
*.pid
*.pyc
*.pyo
*.o
*.so
*.db
*.zip
*.pot
_*.json
_*.csv
_*.tab
*.rec
*.node

dump.rdb

flintlock
iamglass
*.glass
iambrass
*.brass

*.sublime-project
*.sublime-workspace

/local/settings.py
/storage
/www/static
/www/*/static
/www/media
/www/*/media
/project_docs
/local_www
/local_storage
/docs/www
/src/js/draft-wysiwyg/node_modules
/nginx/available_vhosts/