body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card > .input-group-addon, .input-group-btn, .input-group .form-control::-webkit-input-placeholder { color: #aaaaaa; }
.card > .input-group-addon, .input-group-btn, .input-group .form-control:-moz-placeholder { color: #aaaaaa; }
.card > .input-group-addon, .input-group-btn, .input-group .form-control::-moz-placeholder { color: #aaaaaa; }
.card > 8.input-group-addon, .input-group-btn, .input-group .form-control:-ms-input-placeholder { color: #aaaaaa; }
